body {
  font: 1em "Trebuchet MS", sans-serif;
  background: #fff url(../img/fundo.png) repeat-x;
  overflow-x: hidden;
}

/*formatação geral*/
h2 {
  font-size: 1.25em;
  background: #294c71;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
}
ul {
  list-style-type: none;
}
/*header*/
#logo {
  width: 160px;
  height: 66px;
  background: url(../img/logo.png) no-repeat;
  text-indent: -9000px;
}

@media only screen and (max-width: 599.98px) {
  [class*="col-"] {
    width: 100%;
  }
  #container {
    display: flex;
    justify-content: center;
  }
  header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  nav {
    position: absolute;
    right: -200px;
  }
  #menu-icon {
    position: absolute;
    right: 60px;
    top: 60px;
  }
  #menu-icon div {
    width: 45px;
    height: 9px;
    background: #fff;
    margin: 6px 0;
  }
}

@media only screen and (min-width: 600px) {
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  nav {
    position: absolute;
    right: -200px;
  }
  #menu-icon {
    position: absolute;
    right: 60px;
    top: 60px;
  }
  #menu-icon div {
    width: 45px;
    height: 9px;
    background: #fff;
    margin: 6px 0;
  }
}

@media only screen and (min-width: 992px) {
  #container {
    width: 98%;
    display: flex;
    justify-content: center;
  }
  header {
    background: url(../img/detalhe-topo.png) no-repeat top right;
    height: 165px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #menu-icon {
    display: none;
  }
  nav {
    width: 50%;
    position: absolute;
    right: 330px;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    flex-direction: row;
  }
  nav a {
    font-size: 0.9em;
    display: block;
    padding: 0.9em 1em;
    box-sizing: border-box;
    line-height: 0.8em;
    text-decoration: none;
    color: #fff;
  }
  nav a:hover {
    border-bottom: 2px solid #b10333;
  }
  nav a#home {
    border-bottom: 2px solid #b10333;
  }
}
